<%= render "layouts/errors", :object => @student %>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    <%= form_for @student do |f| %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      <br>
      <%= f.text_field :quote, class: 'form-control', placeholder: 'Enter Your Quote' %>
      <br>
      <%= f.text_field :facebook, class: 'form-control', placeholder: 'Facebook URL' %>
      <br>
      <%= f.text_field :linkedin, class: 'form-control', placeholder: 'LinkedIn URL' %>
      <br>
      <%= f.text_field :github, class: 'form-control', placeholder: 'Github URL' %>
      <br>
      <%= f.text_field :other, class: 'form-control', placeholder: 'Other URL' %>
      <br>
      <%= f.label :image,'Upload An Image'%>
      <br>
      <div id="filefield">
        <%= f.file_field :image %>
      </div>
      <%= f.submit 'Create Student', class: 'btn btn-default'%>
    <% end %>
    </div>
  </div>
</div>
