<div class="col-md-6">

  <% @students_search.each do |student| %>
    <li><%= link_to student.name, student %> - <%= student.quote %></li>
  <% end %>
  <br>
  <% @categories_search.each do |category| %>
    <li><%= link_to category.name, category %> - <%= category.quote %></li>
  <% end %>
  <br>
  <% @comments_search.each do |comment| %>
    <li><%= comment.comment %> </li>
  <% end %>
</div>
