<% content_for(:title, "EpicodusBook | Student") %>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1><%= @student.name%></h1>
      <h1><%= @student.quote%></h1>
      <h1><%= @student.facebook%></h1>
      <h1><%= @student.linkedin%></h1>
      <h1><%= @student.github%></h1>
      <h1><%= @student.other%></h1>
      <%= image_tag @student.image.url(:medium) %>

      <% if current_user %>
      <p><%= link_to "Edit", edit_student_path(@student) %></p>
      <p><%= link_to "Delete", student_path(@student), :method => 'delete' %></p>
      <% end %>

      <p>
        <%= link_to "Return to students", students_path %>
      </p>
      <p>
        <%= link_to "New Comment", new_student_comment_path(@student), id: "enter-comment-link", remote: true, class: "btn btn-primary" %>
      </p>

      <div id="show-comments">
        <%= render '/comments/comments' %>
      </div>

    </div>
  </div>
</div>
