<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @project do |f| %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
      <br>
      <%= f.text_field :link, class: 'form-control', placeholder: 'Enter URL with https://' %>
      <br>
      <%= f.label :image,'Upload An Image'%>
      <br>
      <div id="filefield">
        <%= f.file_field :image %>
      </div>
      <%= f.submit 'Create Project', class: 'btn btn-default'%>
      <% end %>
    </div>
  </div>
</div>
