<div class="container">
  <div class="row">
    <header class="jumbotron hero-spacer text-center">
      <h1>EpicodusBook</h1>
      <p>A look back at our journey together.</p>
      <!-- <%= link_to "New Category", new_category_path, class: "btn btn-primary" %> -->
    </header>
  </div>
  <div class="row text-center">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center"><%= sortable "id ", "#" %></th>
          <th class="text-center"><%= sortable "lastname", "Last Name" %></th>
          <th class="text-center"><%= sortable "firstname", "First Name" %></th>
          <th class="text-center"><%= sortable "age", "Age" %></th>
          <th class="text-center"><%= sortable "gender", "Gender" %></th>
          <th class="text-center"><%= sortable "cohort", "Cohort" %></th>
          <th class="text-center"><%= sortable "internship", "Internship" %></th>
          <th class="text-center"><%= sortable "company", "Company" %></th>
        </tr>
      </thead>
      <tbody>
        <% @students.each_with_index do |student, i| %>
          <tr>
            <td><%= (i+1) %></td>
            <td><%= student.lastname %></td>
            <td><%= student.firstname %></td>
            <td><%= student.age %></td>
            <td><%= student.gender %></td>
            <td><%= student.cohort %></td>
            <td><%= student.internship %></td>
            <td><%= student.company %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <hr>
</div>
