<div class="container">
  <div class="row">
    <header class="jumbotron hero-spacer text-center">
      <h1>Categories</h1>
      <p>A fun way to find out what others think about you</p>
      <!-- <%= link_to "New Category", new_category_path, class: "btn btn-primary" %> -->
    </header>
  </div>
    <h1>Most Funny</h1>
    <div class="row text-center">
      <% @categories.each do |category| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag category.image.url(:large) %>
          <div class="caption">
            <%= category.name %> - <%= category.quote %></p>
            <%= link_to "Upvote", upcount_category_path(category), method: "put", remote: true %>
            <div id="total-votes-<%= category.id %>">
              <%= category.count %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <hr>

    <h1>Best Dressed</h1>
    <div class="row text-center">
      <% @dresses.each do |dress| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag dress.image.url(:large) %>
          <div class="caption">
            <%= dress.name %> - <%= dress.quote %>
            <br>
            <%= link_to "Upvote", upcount_dress_path(dress), method: "put" %> <%= dress.count %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <hr>

    <h1>Friendliest Person</h1>
    <div class="row text-center">
      <% @friends.each do |friend| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag friend.image.url(:large) %>
          <div class="caption">
            <%= friend.name %> - <%= friend.quote %>
            <br>
            <%= link_to "Upvote", upcount_friend_path(friend), method: "put" %> <%= friend.count %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <hr>
</div>
