<div class="container">
  <div class="row">
    <header class="jumbotron hero-spacer text-center">
      <h1>Categories</h1>
      <p>A fun way to find out what others think about you</p>
      <!-- <% if current_user %>
      <%= link_to "New Student", new_student_path, class: "btn btn-primary" %>
      <% end %> -->
      <%= link_to "New Category", new_category_path, class: "btn btn-primary" %>
    </header>
    <h1>Categories</h1>
    <div class="row text-center">
      <% @categories.each do |category| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag category.image.url(:large) %>
          <div class="caption">
            <%= link_to category.name, category_path(category) %>
            <p><%= category.quote %></p>
            <p><%= link_to "Upvote", like_category_path(category), method: "put" %></p>
            <p><%= category.get_upvotes.size %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <hr>
  </div>
</div>
