<div class="container">
  <div class="row">
    <div class="row text-center">
      <% @students.each do |student| %>
      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <%= image_tag student.image.url(:large) %>
          <div class="caption">
            <%= link_to student.name, student_path(student) %>
            <p><%= student.quote %></p>
            <p><%= link_to "Upvote", like_student_path(student), method: "put" %></p>
            <p><%= student.get_upvotes.size %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
