<p id="notice"><%= notice %></p>

<h1>Listing Controllers</h1>

<table>
  <thead>
    <tr>
      <th>Blog</th>
      <th>New</th>
      <th>Create</th>
      <th>Update</th>
      <th>Destroy</th>
      <th>Index</th>
      <th>Show</th>
      <th>Edit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @controllers.each do |controller| %>
      <tr>
        <td><%= controller.blog %></td>
        <td><%= controller.new %></td>
        <td><%= controller.create %></td>
        <td><%= controller.update %></td>
        <td><%= controller.destroy %></td>
        <td><%= controller.index %></td>
        <td><%= controller.show %></td>
        <td><%= controller.edit %></td>
        <td><%= link_to 'Show', controller %></td>
        <td><%= link_to 'Edit', edit_controller_path(controller) %></td>
        <td><%= link_to 'Destroy', controller, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Controller', new_controller_path %>
