<!DOCTYPE html>
<html>
<head>
  <title>Epicodusbook 2015</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://file.myfontastic.com/ZkLKrRBnNMDNa2cNxABzEK/icons.css" rel="stylesheet">
</head>
<body>
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <% end %>
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <% if current_user.image.present? %>
            <li><%= image_tag"#{current_user.image.url(:thumb)}", class: "img-rounded", id: "user-pic" %></li>
          <% end %>
          <li>
            <%= link_to edit_user_registration_path do %>
              Logged in as <strong><%= current_user.email %></strong>
            <% end %>
        </li>
        <li><%= link_to 'Home', students_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Categories', categories_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Blogs', blogs_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Projects', projects_path, :class => 'navbar-link' %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>

        <% else %>

        <li><%= link_to 'Home', students_path, :class => 'navbar-link' %><li>
        <li><%= link_to 'Categories', categories_path, :class => 'navbar-link' %><li>
        <li><%= link_to 'Blogs', blogs_path, :class => 'navbar-link' %><li>
        <li><%= link_to 'Projects', projects_path, :class => 'navbar-link' %><li>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %><li>
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= form_tag(students_path, remote: true, :method => "get", class: "navbar-form navbar-left", id: "search-form") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search" %>
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <%= yield %>
</body>
</html>
