<div class="container text-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Enter Your Email' %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>

      <% end %>
      <br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Enter Your Password (8 characters minimum)' %>
    </div>
    <br>
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit , class: 'form-control', placeholder: 'Name' %>
    </div>
    <% end %>

    <%= render "users/shared/links" %>
    </div>
  </div>
</div>
